DATABASE_URL=postgresql://usuario:senha@host:5432/database
FRONTEND_URL=http://localhost:4200
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SERVICE_ROLE=
NODE_ENV=development
